# Binaries for programs and plugins
bin
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vagrant
.vagrant
Vagrantfile

# vim
*.swp

# IntelliJ
.idea/

# MacOS system files
*.DS_Store

# Vendor dir
vendor/

# .image-* files used by Makefile
.image-*

# Files used by Makefile when upgrading sidecars
hack/release-scripts/image-digests.yaml
