language: go
go_import_path: github.com/kubernetes-sigs/aws-ebs-csi-driver
dist: xenial
env:
  global:
    - GO111MODULE=on

go:
  - "1.12.7"

before_install:
  - go get github.com/mattn/goveralls

script:
  - make
  - go test -covermode=count -coverprofile=profile.cov ./pkg/...
  - $GOPATH/bin/goveralls -coverprofile=profile.cov -service=travis-ci
