---
# Source: aws-ebs-csi-driver/templates/role-snapshot-controller-leaderelection.yaml
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ebs-snapshot-controller-leaderelection
  namespace: kube-system
  labels:
    app.kubernetes.io/name: aws-ebs-csi-driver
rules:
  - apiGroups: ["coordination.k8s.io"]
    resources: ["leases"]
    verbs: ["get", "watch", "list", "delete", "update", "create"]
