apiVersion: v1
kind: Pod
metadata:
  name: device-limit-tester-{{ len .Volumes }}-volumes
spec:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: {{ .NodeAffinityKey }}
            operator: In
            values:
            - {{ .NodeAffinityValue }}
  containers:
  - name: device-limit-tester-{{ len .Volumes }}-volumes
    image: centos
    command: ["/bin/sh"]
    args: ["-c", "while true; do echo $(date -u) >> /data/out.txt; sleep 5; done"]
    volumeMounts:
{{- range $index, $value := .Volumes }}
    - name: persistent-storage-{{ $index }}
      mountPath: /data-{{ $index }}
{{- end }}
  volumes:
{{- range $index, $value := .Volumes }}
    - name: persistent-storage-{{ $index }}
      persistentVolumeClaim:
        claimName: ebs-claim-{{ $index }}
{{- end }}
---
{{- range $index, $value := .Volumes }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ebs-claim-{{ $index }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ebs-sc
  resources:
    requests:
      storage: 4Gi
---
{{- end }}
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: ebs-sc
provisioner: ebs.csi.aws.com
volumeBindingMode: WaitForFirstConsumer
