apiVersion: v1
appVersion: "1.1.0"
name: aws-ebs-csi-driver
description: A Helm chart for AWS EBS CSI Driver
version: 1.2.2
kubeVersion: ">=1.17.0-0"
home: https://github.com/kubernetes-sigs/aws-ebs-csi-driver
sources:
  - https://github.com/kubernetes-sigs/aws-ebs-csi-driver
keywords:
  - aws
  - ebs
  - csi
maintainers:
  - name: leakingtapan
    email: chengpan@amazon.com
  - name: krmichel
    url: https://github.com/krmichel
